{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <td>Symbol</td>
                <td>Shares</td>
                <td>Price</td>
                <td>Transacted</td>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["shares"] }}</td>
                <td>{{ "${:,.2f}".format(stock["price"]) }}</td>
                <td>{{ stock["date"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}